
@model Product


    <a class="add-to-basket" asp-controller="basket" asp-action="addbasket" asp-route-id="@Model.Id"
       data-tippy="Add to cart"
           data-tippy-inertia="true"
           data-tippy-animation="shift-away"
           data-tippy-delay="50"
           data-tippy-arrow="true"
           data-tippy-theme="sharpborder">
        <i class="pe-7s-cart"></i>
        </a>


