@model Color
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            @foreach (var item in Model.ProductColors)
            {
                <div class="col log-4">
                    <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                        <img style="width:200px; height:200px" class="img-full"
                             src="~/assets/images/website-images/@item.Product.ProductImages.FirstOrDefault(p=>p.IsPrimary==true)?.ImageUrl"
                             alt="Product Image" />
                    </a>
                </div>

                <P>Name: @item.Product.Name</P>
                <P>Price: $@item.Product.Price</P>
                <p>SKU: @item.Product.SKU</p>
                <p>Description: @item.Product.FullDescription</p>
            }

        </div>
    </div>
</div>
